.account-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 0;

    p {
        margin-bottom: 12px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    li {
        display: block;
        width: calc(50% - 12px);
    }
}