.button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    display: block;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: filter 0.3s linear;
    width: 100%;

    &:active {
        filter: grayscale(50%);
    }

    &.button--icon {
        padding: 0;
        height: 30px;
        width: 30px;
    }

    &.button--blueDark {
        background-color: var(--blueDark);
    }

    &.button--greyDark {
        background-color: var(--greyDark);
    }

    &.button--green {
        background-color: var(--green);
    }

    &.button--purple {
        background-color: var(--purple);
    }

    &.button--fit-content {
        max-width: fit-content;
    }
}