.button {
    background-color: var(--blue);
    border: none;
    color: var(--white);
    display: block;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    transition: filter 0.3s linear;
    width: 100%;
    position: relative;

    &:focus {
        outline: 3px solid var(--purple);
    }

    &:active {
        filter: grayscale(50%);
    }

    &.button--icon {
        padding: 0;
        height: 40px;
        width: 40px;
    }

    &.button--blueDark {
        background-color: var(--blueDark);
    }

    &.button--greyDark {
        background-color: var(--greyDark);
    }

    &.button--green {
        background-color: var(--green);
    }

    &.button--red {
        background-color: var(--red);
    }

    &.button--grey {
        background-color: var(--grey);
    }

    &.button--purple {
        background-color: var(--purple);

        &:focus {
            outline: 3px solid var(--green);
        }
    }

    &.button--fit-content {
        max-width: fit-content;
    }

    &.button--size-small {
        height: 24px;
        width: 24px;

        svg {
            max-width: 16px;
        }
    }

    &:before {
        display: block;
        height: 2px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        transition: height 0.1s ease-out;
    }

    &:after {
        display: block;
        height: 2px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        content: '';
        position: absolute;
        transition: height 0.1s ease-out;
    }

    &:hover {
        &:before {
            height: 4px;
        }
        &:after {
            height: 4px;
        }
    }

    &:active {
        &:before {
            height: 0;
        }
        &:after {
            height: 0;
        }
    }

    &:disabled {
        background-color: var(--greyLight);
        color: var(--grey);
        pointer-events: none;

        &:after {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}