.show-more-less {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 12px;

    .show-more-less__header {
        align-items: center;
        background-color: var(--greyLight);
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        padding: 8px;

        button {
            background-color: var(--grey);
            border: none;
            border-radius: 50%;
            display: block;
            height: 24px;
            outline: none;
            position: relative;
            text-indent: -99999px;
            width: 24px;

            span {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                display: block;
                height: 18px;
                left: calc(50% - 9px);
                position: absolute;
                top: calc(50% - 9px);
                transform: rotate(90deg);
                transition: transform 0.3s ease-out;
                width: 18px;
            }
        }
    }

    &.open button span {
        transform: rotate(-90deg);
    }

    .show-more-less__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        margin-bottom: 12px;
        padding: 0 8px;
        
        p {
            font-size: 14px;
        }
    }

    &.open .show-more-less__content{
        max-height: 500px;
        overflow: hidden;
        padding: 8px;
    }
}