li.menu-item {
    border-bottom: 1px solid var(--greyLight);
    padding-bottom: 32px;
    margin-bottom: 32px;

    .price {
        display: block;
        padding-bottom: 12px;
    }

    .button {
        margin-bottom: 8px;
    }

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
    }
}
