li.menu-item {
    border-bottom: 1px solid var(--greyLight);
    padding-bottom: 32px;
    margin-bottom: 32px;

    .menu-item__flex {
        display: flex;
        justify-content: space-between;
    
        + .show-more-less {
            margin-top: 20px;
        }
    }

    .price {
        display: block;
        font-size: 22px;
        padding: 8px 0 ;
    }

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
    }
}
