.menu-section {
    display: block;

    h3 {
        background-color: var(--greyLight);
        display: block;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
        position: sticky;
        top: 24px;
        z-index: 1;
    }

    &:first-of-type ul {
        padding-top: 20px;
    }

    &:last-of-type ul {
        padding-bottom: 0px;
        min-height: calc(100vh - 44px);
    }
}

.menu-section__list {
    list-style: none;
    padding: 36px 16px 54px;
}