.icon-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;

    li {
        padding: 8px;
        margin-right: 4px;

        &:first-of-type {
            margin-left: -6px;
        }
    }
}