.menu-editor-section {
  border-bottom: 2px solid var(--grey);
  display: block;
  margin-bottom: 20px;
  padding-bottom: 12px;
}

.menu-editor-section__buttons {
  display: flex;
  justify-content: space-between;
}