.menu-editor-section {
  border-bottom: 2px solid var(--grey);
  display: block;
  margin-bottom: 20px;
  padding-bottom: 12px;
}

.menu-editor-section__buttons {
  display: flex;
  justify-content: space-between;
}

ul:empty {
  display: none;
}

.menu-editor-section__items {
  padding: 4px 0 16px 20px;
}