:root {
  --black: #000000;
  --blue: #3498db;
  --blueDark: #2f3640;
  --green: #44bd32;
  --grey: #919191;
  --greyDark: #515151;
  --greyLight: #e2e5e6;
  --orange: #e67e22;
  --purple: #8e44ad;
  --red: #c23616;
  --white: #ffffff;
  --whiteDark: #f5f5f5;
  --yellow: #e1b12c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-inner {
  display: block;
  padding: 0 16px;
}

.euro .price:after {
  content: ' €';
}

.pound .price:before {
  content: '£ ';
}

.dollar .price:before {
  content: '$ ';
}

/* TYPOGRAPHY */

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

/* HELPERS */
.no-click {
  pointer-events: none;
}