.menu-select {
    background-color: var(--blue);
    display: block;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;

    a {
        color: var(--white);
        margin: 4px;
        text-decoration: none;
    }
}