.menu-select {
    background-color: var(--blue);
    display: block;
    padding: 0 4px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 2;

    ul {
        display: flex;
        list-style: none;
    }

    li {
        display: block;
        margin: 0 2px;
        width: fit-content;
    }

    a {
        color: var(--white);
        display: block;
        padding: 4px;
        text-decoration: none;
        width: fit-content;
    }
}