.menu-social {
    background-color: var(--greyLight);
    display: block;
    padding: 12px;
    margin: 20px 0;

    .menu-social__warning {
        display: flex;
        margin-bottom: 12px;

        svg {
            color: var(--yellow);
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    label {
        display: block;
    }

    select {
        margin: 4px 0 12px;
        padding: 4px;
        font-size: 16px;
        width: 100%;
        border: none;
    }

    input {
        display: block;
        width: 100%;
        padding: 4px;
        font-size: 16px;
        margin-top: 8px;
        border: none;

    }

    .menu-social__list {
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--greyLight);
            padding-bottom: 4px;
            margin-bottom: 8px;
        }
        
        a {
            display: block;
            padding: 4px;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 18px;
        }
    }

    .menu-social__form {
        background-color: var(--greyLight);
        padding: 12px 8px;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 16px;
            width: 16px;
            background-color: var(--blueDark);
            top: -9px;
            left: 30px;
            position: absolute;
            transform: rotate(45deg);
        }
    }

    label + button {
        margin-top: 8px;
        position: relative;
        margin-left: auto;
    }
}